.contacto {
  margin-left: 270px;
  padding: 60px 40px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #8b0000;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff1a1a;
}
